* {
    margin: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 40px 50px;
}

header {
    
}

h1 {
    color: #f08842;
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 7px;
}

h2 {
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 13px;
}

.headNav {
    font-size: 19px;
    color: #e0dfde;
    padding-right: 15px;
    text-decoration: underline;
}

.headNav:hover {
    color: #f08842;
}

a {
    text-decoration: inherit;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}

article {
    padding-top: 45px;
    padding-bottom: 45px;
    border-bottom: 1px solid #e0dfde;
}

h3 {
    color: #e0dfde;
    font-size: 39px;
    font-weight: 400;
    margin-bottom: 8px;
}

.blogTitle {
    font-size: 37px;
    font-weight: 500;
}

img {
    max-width: 100%;
    margin-bottom: 15px;
}

p {
    line-height: 1.5em;
    max-width: 100%;
}

.firstChar {
    font-size: 100px;
    color: #e0dfde;
    float: left;
    margin: 26px 10px 23px 0px;
    font-weight: 400;
}

h4 {
    float: right;
    color: #f08842;
    padding-bottom: 8px;
}

footer {
    padding-top: 45px;
    padding-bottom: 20px;
    color: #c0c0bf;
}

footer nav {
    padding-bottom: 23px;
}

.footNav {
    color: #f08842;
}